.UsedDevelopers {
  margin-bottom: 177px;
  
  @include desktop-small {
    margin-bottom: 60px;
  }
  &__title {
    color: $color-80;
    text-align: center;
    font: var(--Text-54);
    line-height: 63.72px;
    margin-bottom: 57px;
  }

  &__swiper {
    margin-bottom: 32px;
    flex-shrink: 0;

    @include desktop-small {
      padding: 0 40px;
    }
    @include tablet {
      
    }
  }

  &__icons {
    margin-top: 95px;
    padding: 0 123px;

    @include tablet {
      margin-top: 60px;
    }
  }
  &__icon1 {
    gap: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    @include desktop-small {
      gap: 25px;
    }
  }
  &__icon2 {
    gap: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;
    @include desktop-small {
      gap: 25px;
    }
  }
}
