.UsedDevelopers {

  &__title {
    color: $color-80;
    text-align: center;
    font: var(--Text-54);
    line-height: 63.72px;
    margin-bottom: 57px;
  }

  &__swiper {
    margin-bottom: 32px;
  }
}
