.SelectProject {
  padding-top: 158px;
  padding-bottom: 161px;
  @include desktop-small {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  &__title {
    color: $color-80;
    text-align: center;
    font: var(--Text-54);
    line-height: 63.72px;
  }
  &__text {
    color: $color-54;
    text-align: center;
    font: var(--Text-54-4);
    line-height: 63.72px;
    text-decoration: line-through;
  }
}
