.alwaysReady {
  margin-top: 32px;
  margin-bottom: 18px;

  &__sections {
    display: flex;
    justify-content: space-between;

    @include desktop-small {
      gap: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    padding-top: 122px;
    color: $color-80;
    font: var(--Text-80);
    line-height: 88px;
    margin-bottom: 38px;
    @include desktop-small {
      padding-top: 60px;
    }
    @include tablet {
      padding-top: 40px;
    }
  }

  &__info {
    color: $color-23;
    font: var(--Text-23);
    line-height: 31.92px;
    margin-bottom: 48px;
  }
  &__section {
    display: flex;
    gap: 24px;
  }
  .btn {
    border-radius: 16px;
    background: $btn-1;
    box-shadow: $-box-shadow;
    margin-bottom: 18px;
    transition: var(--transition);

    &:hover {
      background: lighten($btn-1, 5%);
    }
  }
  &__button {
    padding: 11px 46px;
    color: $color-80;
    text-align: center;
    font: var(--Text-18);
    line-height: 22.5px;
  }
  &__button:hover {
    color: $color-hover;
  }
  &__icon {
    display: flex;
    gap: 28px;
  }
  &__text {
    color: $color-23;
    font: var(--Text-16);
    line-height: 24px;
  }
}
