:root {
  --html-fs: 1px;
  --ff: "Roboto", sans-serif;
  --transition: 0.2s all ease-in-out;

  --Text-80: 700 80px / normal var(--ff);
  --Text-54: 700 54px / normal var(--ff);
  --Text-18: 700 18px / normal var(--ff);

  --Text-54-4: 400 54px / normal var(--ff);
  --Text-23: 400 23px / normal var(--ff);

  --Text-16: 400 16px / normal var(--ff);
}
$color-80: #12100c;
$color-54: #999795;
$color-23: rgba(18, 16, 12, 0.7);
$btn-1: #ffae33;

$-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
