.ContactsPage {
  margin-top: 160px;
  background: $btn-4;
  border-radius: 20px;

  .container {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 852px;
    flex-shrink: 0;
  }
  .title {
    padding-top: 47px;
    color: $color-80;
    font: var(--Text-13);
    line-height: 19.5px;
  }
  .indentation {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 41px;
  }
  .tx {
    color: $color-23;
    font: var(--Text-13-4);
    line-height: 19.5px;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 852px;
    flex-shrink: 0;
  }
  &__gitpods {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 33px;
  }
  &__inform {
    color: $color-23;
    font: var(--Text-12);
    line-height: 19.5px;
  }
  &__icon {
    display: flex;
    gap: 16px;
  }
}
