.GetNow {
  &__title {
    color: $color-80;
    text-align: center;
    font: var(--Text-54);
    line-height: 71.82px;
    margin-bottom: 48px;
  }
  &__sections {
    display: flex;
    justify-content: center;
    gap: 26px;
    @include desktop-small {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
